{% extends 'base.html' %}

{% block content %}

<div class="items-list">
  <h5>For cooperation, please contact the following contacts:</h5>
  <ul class="nav flex-column">
    <li class="nav-item">
      <p><a href="https://t.me/alex_beloded" class="text-decoration-none">Telegram</a></p>
      <p><a href="mailto:belod-aleksej@yandex.ru" class="text-decoration-none">Email</a></p>
      <p><a href="tel:89093702213" class="text-decoration-none">Phone</a></p>
    </li>
  </ul>
</div>

{% endblock %}
