{% load static %}
<!DOCTYPE html>
<html>
<head><script src="{% static 'resources/js/color-modes.js' %}"></script>
	<meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'resources/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'resources/css/styles.css' %}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/45589c5eae.js" crossorigin="anonymous"></script>
</head>
<body>
  {% include 'includes/themes.html' %}
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-start py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <i class="fa-solid fa-futbol fa-3x"></i>
          <i class="fa-solid fa-crutch fa-3x"></i>
          <h5>Football injuries</h>
        </a>
      </div>
      {% block mainmenu %}
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'home' %}" class="nav-link px-2 link-secondary">Home</a></li>
        {% for item in mainmenu %}
        <li><a href="{% url item.url_name %}" class="nav-link px-2">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
      {% endblock mainmenu %}
      <div class="col-md-3 text-end">
        {% if user.is_authenticated %}
        <ul class="nav justify-content-sm-end">
          <li class="nav-item d-flex align-items-center">
            <span class="me-2">{{ user.username }}</span>
            <a href="{% url 'account:logout' %}" class="nav-link me-2">Выйти</a>
          </li>
        </ul>
        {% else %}
        <a class="btn btn-outline-primary me-2" href="{% url 'account:login' %}" role="button">Войти</a>
        <a class="btn btn-primary" href="#" role="button">Зарегистрироваться</a>
        {% endif %}
      </div>
    </header>
  </div>

  <div class="container">
      <div class="row">
        <div class="col">
          {% block content %} {% endblock %}
          {% include 'includes/pagination.html' %}
        </div>
      </div>
  </div>
  <script src="{% static 'resources/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
