{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center">
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-floating">
        <input
          type="password"
          class="form-control mb-2"
          id="{{ field.id_for_label }}"
          name="{{ field.name }}"
          placeholder="{{ field.label }}"
          value="{{ field.value|default_if_none:'' }}">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div class="col-sm-6">
          {% if field.errors %}
            <div class="invalid-feedback d-block">
              {% for error in field.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Update your password</button>
  </form>
</div>

{% endblock %}
