{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center">
  <form method="post">
    {% csrf_token %}
    {% if messages %}
      <div class="alert alert-info form-floating mb-2">
        {% for message in messages %}
          <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
    {% for field in form %}
    <div class="form-floating mb-2">
      <input class="form-control col-sm-1 {% if field.name == 'username' or field.name == 'email' %} non-editable {% endif %}"
        id="{{ field.id_for_label }}"
        name="{{ field.name }}"
        placeholder="{{ field.label }}"
        value="{{ field.value|default_if_none:'' }}"
        {% if field.name == 'username' or field.name == 'email' %} readonly {% endif %}>
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      <div class="col-sm-6">
        {% if field.errors %}
          <div class="invalid-feedback d-block">
            {% for error in field.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary form-floating mb-2">Save</button>
    <hr class="form-floating mb-3">
    <p><a class="btn btn-primary form-floating" href="{% url 'account:password_change' %}" role="button">Change password</a></p>
  </form>
</div>

{% endblock %}
