{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center">
  <form method="post">
    {% csrf_token %}

    {% include 'includes/messages.html' %}

    {% for field in form %}
      {% if field.name == 'username' or field.name == 'email' %}
        {% include 'includes/form_field.html' with field=field readonly=True %}
      {% else %}
        {% include 'includes/form_field.html' with field=field %}
      {% endif %}
    {% endfor %}

    <button type="submit" class="btn btn-primary form-floating mb-2">Save</button>
    <hr class="form-floating mb-3">
    <p><a class="btn btn-primary form-floating" href="{% url 'account:password_change' %}" role="button">Change password</a></p>
  </form>
</div>

{% endblock %}
