{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center">
  <form method="post">
    {% csrf_token %}

    {% include 'includes/form_field.html' with field=form.username %}
    {% include 'includes/form_field.html' with field=form.email %}
    {% include 'includes/form_field.html' with field=form.first_name %}
    {% include 'includes/form_field.html' with field=form.last_name %}
    {% include 'includes/form_field.html' with field=form.password1 %}
    {% include 'includes/form_field.html' with field=form.password2 %}

    {% include 'includes/form_errors.html' %}

    <div class="d-flex justify-content-center">
      <button class="btn btn-lg btn-primary" type="submit">Sign up</button>
    </div>
  </form>
</div>

{% endblock %}
